<h1>This is the new page for lists</h1>

<div>
  <%= form_for(@list) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
</div>

<button type="button"><%= link_to "Back to lists", lists_path %></button>
